<div ng-show="postman.body">
    <div ng-show="!postman.json" style="height: 500px;overflow: auto">
        <div ng-show="properties.length > 0">
            <div ng-repeat="property in properties">
                <label style="font-weight: normal;margin-left: 0;width: 100%">
                    <span ng-show="property.required" style="color: rgba(255,51,31,0.81);font-size: x-large">*</span>
                    {{property.field}}
                    <input style="width: 100%" ng-model="property.value"
                           class="form-control input-control f5"
                           type="text"
                           placeholder="{{property.desc}}">
                </label>
            </div>
        </div>
        <div ng-show="properties.length == 0">
            <span style="background-color: rgba(135,252,255,0.02);font-size: small">😯 这个请求没有参数</span>
        </div>
    </div>

    <div ng-show="postman.json" style="height: 500px;overflow: auto">
        <div ui-tree id="tree-root">
            <ol ui-tree-nodes ng-model="postman.data">
                <li ng-repeat="node in postman.data" ui-tree-node
                    ng-include="'js/biz/ctrl/usage/children/nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>
