<div>
    <!--    <md-switch ng-show="postman.body" ng-init="temp.switch1=true" style="margin:0;width: 100%" ng-model="temp.switch1" aria-label="Switch 1">-->
    <!--        -->
    <!--    </md-switch>-->
    <button ng-show="postman.body" style="width: 45%;margin-top: 2px" class="btn btn-default" data-ng-click="reset()">清空
    </button>
    <button ng-show="postman.body" style="width: 45%;margin-top: 2px" class="btn btn-default"
            data-ng-click="invokeHistory()">调用历史
    </button>
    <button ng-show="!postman.body" style="width: 100%;margin-top: 2px" class="btn btn-default"
            data-ng-click="invokeHistory()">进入查询
    </button>
</div>
