<form class="form-inline" role="form">

    <div class="form-group" style="width: 80%">
        <input ng-model="postman.url" type="text" class="form-control" style="width: 100%"
               placeholder="请输入URL"/>
    </div>
    <div class="form-group">
        <select ng-model="postman.method" class="form-control">
            <option>GET</option>
            <option>POST</option>
        </select>
    </div>

    <div style="margin-top: 2px" ng-if="postman.method=='POST'">
        <div id="data-mode-selector" class="btn-group clearfix" data-toggle="buttons-radio">
            <a class="btn active" data-mode="params">form-data</a>
            <a class="btn" data-mode="urlencoded">x-www-form-urlencoded</a>
            <a class="btn" data-mode="raw">raw</a>
        </div>

        <div style="margin-top: 1px" ng-repeat="property in properties">

            <div ng-show="property.value.length>0">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input disabled="disabled" ng-model="property.field" type="text" class="form-control"
                               style="width: 150px">
                    </div>
                    =
                    <div class="form-group">
                        <input ng-model="property.value" type="text" class="form-control" style="width: 360px">
                    </div>
                    <!--                <img class="deleteButton"-->
                    <!--                     src="assert/delete.png"></a>-->
                </form>
            </div>
        </div>
    </div>

    <div class="separator"></div>
    <div style="margin-top: 2px">
        <!-- 标准的按钮 -->
        <button type="button" data-ng-click="send()" class="btn btn-primary">Send</button>
        <!-- 提供额外的视觉效果，标识一组按钮中的原始动作 -->
        <!--        <button type="button" class="btn btn-primary">原始按钮</button>-->
        <!-- 表示一个成功的或积极的动作 -->
        <!--        <button type="button" class="btn btn-success">成功按钮</button>-->
        <!-- 信息警告消息的上下文按钮 -->
        <button type="button" data-ng-click="reset()" class="btn btn-danger">Reset</button>
    </div>

    <div style="margin-top: 2px">
        <div>
        <textarea style="width: 100%;height: 300px;background-color: rgba(236, 255, 220, 0.47);" class="form-control"
                  placeholder="http request result">{{jsonData}}</textarea>
        </div>
    </div>

</form>
