.tab {
    margin-top: 30px;
}

.tab .nav-tabs {
    border: none;
    border-bottom: 1px solid #e4e4e4;
}

.nav-tabs li a {
    padding: 15px 40px;
    border: 1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background: #7a81f4;
    color: #fff;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
}

.nav-tabs li a:hover {
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: #00b0ad;
    color: #fff;
}

.nav-tabs li a i {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.nav-tabs li:last-child {
    border-right: 1px solid #ededed;
}

.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
    border-top: 3px solid #00b0ad;
    border-right: 1px solid #d3d3d3;
    margin-top: -5px;
    color: #444;
}

.tab .tab-content {
    padding: 20px;
    line-height: 22px;
    box-shadow: 0px 1px 0px #808080;
}

.tab .tab-content h3 {
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .nav-tabs li {
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-tabs li a {
        padding: 15px;
    }

    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover {
        padding: 15px;
        margin-top: 0;
    }
}

.l_card {
    /*position: relative;*/
    border: 1px solid #d9d9d9;
    color: #666;
    background-color: #fff;
    width: 70%;
    border-radius: 5px
}

textarea {
    /*别忘了文本域的box-sizing属性值是border-box;所有的边框和padding都是在你固定的宽高的基础上绘制*/
    /*去除点击出现轮廓颜色*/
    outline: none;
    /*如果有需要，去掉右下角的可拉伸变大小的图标和功能*/
    resize: none;
    /*padding已在重置样式中去除，如果没有去除，记得有padding哦*/
}

.select {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 325px;
    color: #cccccc;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
}

.select .placeholder {
    position: relative;
    display: block;
    background-color: #393d41;
    z-index: 1;
    padding: 1em;
    border-radius: 2px;
    cursor: pointer;
}

.select .placeholder:hover {
    background: #34383c;
}

.select .placeholder:after {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    content: '\f078';
    z-index: 10;
}

.select.is-open .placeholder:after {
    content: '\f077';
}

.select.is-open ul {
    display: block;
}

.select.select--white .placeholder {
    background: #fff;
    color: #999;
}

.select.select--white .placeholder:hover {
    background: #fafafa;
}

.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
}

.select ul li {
    display: block;
    text-align: left;
    padding: 0.8em 1em 0.8em 1em;
    color: #999;
    cursor: pointer;
}

.select ul li:hover {
    background: #4ebbf0;
    color: #fff;
}

.fff {
    height: 700px;
}

.f5 {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(204 204 204);
    border-radius: 0;
}
